@{
    ViewBag.Title = "Home Page";
}

<h1>TEAM 3 Final Project</h1>
<h3><marquee style="font-size:x-large">Its like blackboard but with less DDOS  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ¯\_(ツ)_/¯ </marquee></h3>
    <br />

